body{
    margin: 0;
    font-family: Arial,  sans-serif;
}

header{
 background-color: #1f2937;
 color: white;
 padding: 16px;
}

main{
    padding: 16px;
}

footer{
    background-color: #e5e7eb;
    text-align: center;
    padding: 8px;
}