.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
}

.menu {
  background: #222;
  color: white;
  width: 200px;
  padding: 10px;
  transition: 0.3s;
  margin-top: 16px;
}

.box, .counter, .faq {
  margin-top: 20px;
}